[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
python-decouple = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"
Django = "*"
pytz = "*"

[dev-packages]
ipdb = "*"
flake8 = "*"
coverage = "*"
pyflakes = "*"
pycodestyle = "*"
