[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
python-decouple = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"
pytz = "*"
numpy = "*"
sklearn = "*"
scipy = "*"
django = "*"
textblob = "*"
nltk = "*"
plagiarism = "*"
requests-cache = "*"
dj-database-url = "*"
psycopg2 = "*"

[dev-packages]
ipdb = "*"
flake8 = "*"
coverage = "*"
pyflakes = "*"
pycodestyle = "*"
responses = "*"
mock = "*"
coveralls = "*"
